@keyframes desplazar-izquierda {
    0% {
      transform: translateX(49%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animation-desplazar-izquierda {
    animation: desplazar-izquierda 3s linear infinite alternate;
  }
  
  