#headerSection {
    height: calc(100vh - 72px);
}

#wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('./wave.png');
    background-size: 1000px 100px;
}

.animate-grow {
    animation: grow 2s forwards; 
}

@keyframes grow {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3); 
    }
  }


  @keyframes grow-shrink {
    0%  {
        transform: scale(1.3);
    }
    100% {
      transition: scale(0.5); 
    }
  }

  .animate-grow-shrink {
    animation: grow-shrink 1.5s ease-in-out forwards; 
  }

  
  
  
  
 

@keyframes wave {
    0%{
        background-position-x: 0;

    }
    100% {
        background-position-x: 1000px;
        
    }
}